/* You can add global styles to this file, and also import other style files */
html{
  background: #ccc;
}
body {
    width: 1140px;
    min-height: 90vh;
    /* background: red; */
    padding: 0px;
    margin: 0 auto;
    background: white;
    overflow: hidden;
}
